@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
	/* prevents padding from adding extra width or height to the page  */
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lobster', sans-serif;
	background-color: whitesmoke;
}

h1 {
	text-align: center;
	margin-top: 1.8rem;
	margin-bottom: 1.3rem;
	font-size: 2.3rem;
	letter-spacing: 0.2rem;
}

/* Loader */
.loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
}

.loader img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Image-container */
.image-container {
	/* left/right margin add up to 60% leaving 4o% for image */
	margin: 10px 30%;
}

.image-container img {
	width: 100%;
	margin-top: 0.5rem;
}

/* Media Queries > large smartphone */
@media screen and (max-width: 600px) {
	h1 {
		font-size: 1.8rem;
	}
	.image-container {
		margin: 10px;
	}
}
